body {
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
}

.link {
    color: #7D7D7D;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    font-family: 'Playfair Display';
    transition-duration: 0.4s;
    margin: 0px 99px 0 0;
}

.link:hover {
    transition-duration: 0.7s;
    color: #03A9F4;
}

.header {
    text-align: center;
}

.header2 {
    margin: 71px 315px 0 315px;
}

.img1 {
    width: 420px;
    height: 280px;
    margin: 92px 0 0 300px;
}

.p1 {
    color: #B4AD9E;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin: 62px 0 0 300px;
}

.p2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
    margin: 32px 0 0 300px;
}

.text1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    width: 420px;
    height: 76px;
    margin: 40px 0 0 300px;
}

.main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.LM {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
    border: 1px solid #626262;
    padding: 20px 48px 20px 48px;
    background-color: white;
}

.div {
    display: flex;
    justify-content: center;
    margin: 90px 0 66px 0;
}